* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid green;
  width: 700px;
  height: 600px;
  display: grid;
  grid-template: 1fr / 1fr 0.5fr 1fr 1fr 1fr;
  div {
    width: 100%;
    height: 100%;
  }
}

.one {
  background-color: tomato;
  grid-column: span 2;
}
.two {
  background-color: teal;
}

.three {
  background-color: turquoise;
}

.four {
  background-color: steelblue;
}
.five {
  background-color: yellowgreen;
}
