* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid green;
  width: 700px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;

  div {
    width: 300px;
    height: 100px;
  }
}

.one {
  background-color: tomato;
}
.two {
  background-color: teal;
}

.three {
  background-color: turquoise;
}

.four {
  background-color: steelblue;
}
.five {
  background-color: yellowgreen;
}
